@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
    margin: 0;
    overflow: hidden;
    user-select: none;
    font-family: "Press Start 2P", cursive;
}

canvas {
    display: block;
}
