/* Loading Screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#loading-bar-container {
    width: 50%;
    max-width: 400px;
    height: 30px;
    background-color: #1c252a;
    border: 4px solid #263238;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#loading-bar-inner {
    width: 0%;
    height: 100%;
    background-color: #455a64;
    transition: width 0.1s linear;
}
